device_type: {{ device_type }}
job_name: {{ job_name}}

timeouts:
  job:
    minutes: 15
  action:
    minutes: 5
  actions:
    power-off:
      seconds: 25
    tftp-deploy:
      minutes: 8
  connection:
    minutes: 2
priority: high
visibility: public

# ACTION_BLOCK
actions:
- deploy:
    to: tftp
    {%- if kernel %}
    kernel:
      url: {{ kernel }}
      type: {% if kernel.endswith("/Image") %}image{% else %}zimage{% endif %}
    {%- endif %}
    {%- if rootfs %}
    {{ rootfs_type }}:
      url: {{ rootfs }}
      compression: gz
      {%- if rootfs_type == "ramdisk" %}
      add-header: u-boot
      {% endif %}
    {%- endif %}
    {%- if modules %}
    modules:
      url: {{ modules }}
      compression: xz
    {%- endif %}
    {%- if device_tree %}
    dtb:
      url: {{ device_tree }}
    {%- endif %}
    os: oe

# BOOT_BLOCK
- boot:
    method: u-boot
    {%- if rootfs_type == "ramdisk" %}
    commands: ramdisk
    {% else %}
    commands: nfs
    {% endif %}
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
    - 'root@linaro'
    - '/ #'
    auto_login:
      login_prompt: 'login:'
      username: 'root'
    timeout:
      minutes: 3

# TEST_BLOCK
- test:
    timeout:
      minutes: 15
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: shell-test
          description: "test the shell"
          os:
          - oe
          scope:
          - functional
        run:
          steps:
          - lava-test-case shell --shell true
      from: inline
      name: shell-test
      path: inline/shell-test.yaml
    - repository: git://github.com/free-electrons/test_suite.git
      from: git
      path: tests/generic.yaml
      name: custom-tests
      parameters:
        DEVICE: "{{ device_type }}"
        TEST: "{{ tests }}"

{% if notify %}
notify:
  recipients:
  {%- for email in notify %}
  - to:
     method: email
     email: {{ email }}
  {%- endfor %}
  criteria:
    status: finished
  verbosity: verbose
{% endif %}

