{
    "actions": [
        {
            "command": "deploy_linaro_kernel",
            "parameters":
            {
                "dtb": "{{ device_tree}}",
                "kernel": "{{ kernel }}",
                "overlays": [
                    "{{ modules }}"
                ],
                "{{ rootfs_type }}": "{{ rootfs }}",
                "role": "board",
                "username": "root",
                "login_prompt": "buildroot login:"
            }
        },
        {
            "command": "dummy_deploy",
            "parameters":
            {
                "target_type": "ubuntu",
                "role": "laptop"
            }
        },
        {
            "command": "boot_linaro_image",
            "parameters":
            {
                "role": "board"
            }
        },
        {
            "command": "lava_test_shell",
            "parameters":
            {
                "testdef_repos": [
                    {
                        "git-repo": "https://github.com/free-electrons/custom_tests",
                        "testdef": "tests_multinode/{{ tests }}"
                    }],
                    "timeout": 600
            }
        },
        {
            "command": "submit_results",
            "parameters":
            {
                "server": "{{ lava_server }}",
                "stream": "{{ lava_stream }}"
            }
        }],
        "device_group": [
            {
                "role": "board",
                "count": 1,
                "device_type": "{{ device_type }}"
            },
            {
                "role": "laptop",
                "count": 1,
                "device_type": "dummy-ssh"
            }
        ],
        "job_name": "{{ job_name }}",
        "logging_level": "DEBUG",
        "priority": "high",
        "notify_on_incomplete": [
            {% for address in notify_on_incomplete -%}
            "{{ address }}"
            {%- if not loop.last -%}
            ,
            {% endif %}
            {%- endfor %}
        ],
        "notify": [
            {% for address in notify -%}
            "{{ address }}"
            {%- if not loop.last -%}
            ,
            {% endif %}
            {%- endfor %}
        ],
        "timeout": 600
}
