job_name: {{ job_name}}

protocols:
  lava-multinode:
    roles:
      board:
        device_type: {{ device_type }}
        count: 1
      laptop:
        request: lava-start
        expect_role: board
        timeout:
          minutes: 5
        device_type: dummy-ssh
        count: 1
    timeout:
      minutes: 6

timeouts:
  job:
    minutes: 10
  action:
    minutes: 5
  connection:
    minutes: 2
priority: high
visibility: public

# ACTION_BLOCK
actions:
- deploy:
    role:
    - board
    timeout:
      minutes: 4
    to: tftp
    {%- if kernel %}
    kernel:
      url: {{ kernel }}
      type: {% if kernel.endswith("/Image") %}image{% else %}zimage{% endif %}
    {%- endif %}
    {%- if rootfs %}
    {{ rootfs_type }}:
      url: {{ rootfs }}
      compression: gz
      {%- if rootfs_type == "ramdisk" %}
      add-header: u-boot
      {% endif %}
    {%- endif %}
    {%- if modules %}
    modules:
      url: {{ modules }}
      compression: xz
    {%- endif %}
    {%- if device_tree %}
    dtb:
      url: {{ device_tree }}
    {%- endif %}
    os: oe

- deploy:
    role:
    - laptop
    to: ssh
    os: oe

# BOOT_BLOCK
- boot:
    role:
    - laptop
    timeout:
      minutes: 3
    method: ssh
    connection: ssh
    prompts:
      - root@x86-boardtop:~#

- boot:
    role:
    - board
    method: u-boot
    {%- if rootfs_type == "ramdisk" %}
    commands: ramdisk
    {% else %}
    commands: nfs
    {% endif %}
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
    - 'root@linaro'
    - '/ #'
    auto_login:
      login_prompt: 'login:'
      username: 'root'
    timeout:
      minutes: 3

# TEST_BLOCK
- test:
    role:
    - board
    - laptop
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: start-ssh
          description: "start the ssh side of the job"
          os:
          - oe
        run:
          steps:
          - lava-send lava_start
      from: inline
      name: start-ssh
      path: inline/ssh-install.yaml
    - repository: git://github.com/free-electrons/custom_tests.git
      from: git
      path: {{ tests }}
      name: custom-tests
      parameters:
        DEVICE: "{{ device_type }}"

{% if notify %}
notify:
  recipients:
  {%- for email in notify %}
  - to:
     method: email
     email: {{ email }}
  {%- endfor %}
  criteria:
    status: complete
  verbosity: verbose
{% endif %}



