{
    "actions": [
        {
            "command": "deploy_linaro_kernel",
            "parameters": {
                {% if device_tree %}
                "dtb": "{{ device_tree }}",
                {% endif %}
                {% if kernel %}
                "kernel": "{{ kernel }}",
                {% endif %}
                {% if modules %}
                "overlays": [
                    "{{ modules }}"
                ],
                {% endif %}
                {% if rootfs %}
                "{{ rootfs_type }}": "{{ rootfs }}",
                {% endif %}
                "login_prompt": "buildroot login:",
                "username": "root"
            }
        },
        {
            "command": "boot_linaro_image"
        },
        {
            "command": "lava_command_run",
            "parameters": {
                "commands": [
                    "/tests/tests/{{ tests }}"
                ],
                "timeout": 900
            }
        },
        {
            "command": "submit_results",
            "parameters": {
                "server": "{{ lava_server }}",
                "stream": "{{ lava_stream }}"
            }
        }
    ],
    "device_type": "{{ device_type }}",
    "job_name": "{{ job_name }}",
    "logging_level": "DEBUG",
    "priority": "high",
    "notify_on_incomplete": [
        {% for address in notify_on_incomplete -%}
            "{{ address}}"
            {%- if not loop.last -%}
            ,
            {% endif %}
        {%- endfor %}
    ],
    "notify": [
        {% for address in notify -%}
            "{{ address}}"
            {%- if not loop.last -%}
            ,
            {% endif %}
        {%- endfor %}
    ],
    "timeout": 600
}
