device_type: {{ device_type }}
job_name: {{ job_name}}

timeouts:
  job:
    minutes: 10
  action:
    minutes: 5
  connection:
    minutes: 2
priority: high
visibility: public

# ACTION_BLOCK
actions:
- deploy:
    timeout:
      minutes: 4
    to: tftp
    {%- if kernel %}
    kernel:
      url: {{ kernel }}
      type: {% if kernel.endswith("/Image") %}image{% else %}zimage{% endif %}
    {%- endif %}
    {%- if rootfs %}
    {{ rootfs_type }}:
      url: {{ rootfs }}
      compression: gz
      {%- if rootfs_type == "ramdisk" %}
      add-header: u-boot
      {% endif %}
    {%- endif %}
    {%- if modules %}
    modules:
      url: {{ modules }}
      compression: xz
    {%- endif %}
    {%- if device_tree %}
    dtb:
      url: {{ device_tree }}
    {%- endif %}
    os: oe

# BOOT_BLOCK
- boot:
    method: u-boot
    {%- if rootfs_type == "ramdisk" %}
    commands: ramdisk
    {% else %}
    commands: nfs
    {% endif %}
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
    - 'root@linaro'
    - '/ #'
    auto_login:
      login_prompt: 'login:'
      username: 'root'
    timeout:
      minutes: 3

# TEST_BLOCK
- test:
    timeout:
      minutes: 5
    definitions:
    - repository: git://github.com/free-electrons/custom_tests.git
      from: git
      path: {{ tests }}
      name: "{{ tests|replace('/', '-')|replace('.', '_') }}"
      parameters:
        DEVICE: "{{ device_type }}"



