<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>LAVA custom tests results</title>

        <link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <header>
            <h4>
                LAVA custom tests results
                <a href="/refresh" class="btn-sm btn-info">refresh</a>
                <small>Last update: {{ datetime.now() }}</small>
            </h4>
        </header>
        <section>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Board</td>
                        {% for test in tests.keys()|sort %}
                        <td>{{ test }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for device_name,results in devices|dictsort %}
                        <tr>
                            <td>{{ device_name }}</td>
                            {% for test in tests.keys()|sort %}
                                {% if devices[device_name][test] %}
                                <td>
                                    {% for r in devices[device_name][test] %}
                                        {% if not loop.first %}
                                            <hr>
                                        {% endif %}
                                        {% if r['result'] == "fail" %}
                                            <a class="btn-sm btn-warning"
                                                style="vertical-align: top" href="http://farm/scheduler/job/{{ r['job_id'] }}">Job #{{ r['job_id']}}</a>
                                        {% elif r['result'] == "pass" %}
                                            <a class="btn-sm btn-success"
                                                style="vertical-align: top" href="http://farm/scheduler/job/{{ r['job_id'] }}">Job #{{ r['job_id']}}</a>
                                        {% endif %}
                                            <small style="display: inline-block;
                                                margin: 0px;">
                                                {{ [r['job_name'][0], r['job_name'][2]]|join('<br/>') }} </small>
                                    {% endfor %}
                                </td>
                                {% else %}
                                <td class="unknown"><small>No test run</small></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <script charset="utf-8">
$(document).ready(function() {
    $('table').DataTable( {
        "scrollY":        "80vh",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
        </script>
    </body>
</html>
