<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>LAVA custom tests results</title>

        <link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <header>
            <h4>LAVA custom tests results</h4>
        </header>
        <section>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Board</td>
                        {% for test in tests.keys()|sort %}
                        <td>{{ test }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for device_name,results in devices|dictsort %}
                        <tr>
                            <td>{{ device_name }}</td>
                            {% for test in tests.keys()|sort %}
                                {% if devices[device_name][test] %}
                                <td>
                                    {% for r in devices[device_name][test] %}
                                        {% if r['result'] == "fail" %}
                                            <p class="text-warning">
                                            <a href="http://farm/scheduler/job/{{ r['job_id'] }}">Job #{{ r['job_id']}}</a>
                                            {{ r['result'] }}
                                            </p>
                                        {% elif r['result'] == "pass" %}
                                            <p class="text-success">
                                            <a href="http://farm/scheduler/job/{{ r['job_id'] }}">Job #{{ r['job_id']}}</a>
                                            {{ r['result'] }}
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% else %}
                                <td class="unknown">No test run</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <script charset="utf-8">
$(document).ready(function() {
    $('table').DataTable( {
        "scrollY":        "80vh",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
        </script>
    </body>
</html>
